<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184698021984-h3u1lc470db0lifq18pt3q99pojo03s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184698021984-h3u1lc470db0lifq18pt3q99pojo03s8</string>
	<key>API_KEY</key>
	<string>AIzaSyCm9tChsK4ALBfvfEKK0S1Gxf4vH579dnk</string>
	<key>GCM_SENDER_ID</key>
	<string>184698021984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igorkenzofh.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1e561</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1e561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:184698021984:ios:a3884509f7313468323b05</string>
</dict>
</plist>
